*{
    margin: 0;
    padding: 0;
}
body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(#81D4FA, #050d6a);
    background-repeat: no-repeat;
    overflow: hidden;
}
#title{
    font-size: small;
    font-style: italic;
}
.card0 {
    width: 94%;
}

.card1 {
    background-image: linear-gradient(#050d6a, #81D4FA);
    padding: 30px 20px 30px 50px;
}

.image {
    width: 300px;
    height: 300px;
}

.large-font {
    font-size: 70px;
    font-family: Arial;
}

.fa-sun-o {
    font-size: 22px;
}

.card2 {
    background-color: #607D8B;
    padding: 0px 0px 40px 40px;
}


form{
    width: 100%;
}


input[type="text"] {
    background-color:#607D8B ;
    padding: 24px 0px 12px 0px;
    border: none;
    border-bottom: 1px solid #CFD8DC;
    width :75%;
    font-size: 16px;
    margin-right: 5px;
}



.city-input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline-width: 0;
    font-weight: 400;
}

::placeholder {
    color: #B0BEC5 !important;
    opacity: 1;
} 


:-ms-input-placeholder {
    color: #B0BEC5 !important;
}

::-ms-input-placeholder {
    color: #B0BEC5 !important;
}

button[type="submit"] {
    color: #607D8B;
    background-color: #E1F5FE;
    font-size: 19px;
    padding: 20px;
    width: 20%;
    /* border-radius: 4px; */
    cursor: pointer;
    border: none;
    transition: box-shadow 0.3s;
    /* size: 16px; */
}



.light-text {
    color: #B0BEC5;
}
.suggestion{
    background-color: #607D8B;
    border: 0;
    padding: 5px;
}

.suggestion:hover {
    color: #fff;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: #B0BEC5;
}

@media screen and (max-width: 500px) {
    .card1 {
        padding-left: 26px;
    }
}